# This notebook stores each step of refactoring the graph data into PSL data

In [1]:
import pandas as pd
import re

## These functions help parse the .tab files.

In [2]:
# used for extracting feature name
# returns: tuple (feature_name, feature_value, optional_value)
def get_feature_tuple(feature):
    feature_data = re.split(r"[:=]", feature)
    return feature_data
    

# loads the *.tab files into a Pandas Dataframe.
# returns: pd.DataFrame(columns=features)
def load_table(filename):

    # initialize the pandas dataframe
    node_data = pd.DataFrame()


    with open(filename) as infile:
        i = 0
        for row in infile:
    
            # print('i is: ', i)

            if i == 0:
                # Skip non-useful first line
                print("Header: ", row)
            elif i == 1:
                # Prepare dataframe column labels
                tokens = row.split()
                if len(tokens) == 1:
                    print("This is not a NODE file, so don't load this row")
                else:  
                    features = ["id"] + [get_feature_tuple(feature)[1] for feature in tokens]
                    node_data = pd.DataFrame(columns=features)
            else:
          
                # this is to help the function generalize among the NODE and EDGE files.
                # EDGE files have a "|" character, which needs to be removed for proper feature decoupling
                row = re.sub(r'\|','', row)
            
                tokens = row.split()

                # the first token doesn't need splitting
                row_dict = {'id':tokens[0]}
                row_dict.update({get_feature_tuple(token)[0]:get_feature_tuple(token)[1] for token in tokens[1:]})
        
                # Fill in rows
                node_data = pd.concat([node_data, pd.DataFrame([row_dict])], ignore_index=True)
        
            i += 1
    
    return node_data

# Process the email nodes

In [3]:
email_nodes = load_table('../c3/namata-kdd11-data/enron/enron-samples-lowunk/enron-sample-lowunk-1of6/sample-enron.NODE.email.tab')
email_nodes

Header:  NODE	email

,id,emailaddress,numsent,numreceived,numexchanged,w-gerald,w-know,w-busi,w-mexicana,w-transact,...,w-columbiagassubject,w-perron,w-coh,w-agl,w-kinney,w-veselack,w-mwhitt,w-jarnold,"other,manager,specialist,director,executive",title
0,98,scott.goodell@enron.com,98.0,607.0,705.0,1.0,1.0,1.0,NaN,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,specialist
1,283,c..koehler@enron.com,128.0,606.0,734.0,1.0,1.0,1.0,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,director
2,183,p..south@enron.com,8.0,351.0,359.0,1.0,1.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,director
3,204,lavorato@enron.com,388.0,3.0,391.0,NaN,1.0,1.0,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,executive
4,303,t..hodge@enron.com,95.0,570.0,665.0,1.0,1.0,1.0,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206,114,vkamins@enron.com,0.0,12.0,12.0,NaN,1.0,1.0,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,director
207,282,sean.crandall@enron.com,94.0,138.0,232.0,NaN,1.0,1.0,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,director
208,270,david.duran@enron.com,7.0,145.0,152.0,NaN,1.0,1.0,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,director
209,243,kevin.presto@enron.com,248.0,198.0,446.0,1.0,1.0,1.0,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,executive
210,131,dave.fuller@enron.com,165.0,129.0,294.0,1.0,1.0,1.0,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# Sanity check: how many unknowns are there
len(email_nodes[email_nodes['title'].isna()])

40

In [5]:
# convert relevant columns to floats (since ints won't take NaNs)
for column in email_nodes.columns[2:-2]:
    email_nodes[column] = email_nodes[column].astype(str).astype(float)

In [6]:
email_nodes.dtypes

id                                              object
emailaddress                                    object
numsent                                        float64
numreceived                                    float64
numexchanged                                   float64
                                                ...
w-veselack                                     float64
w-mwhitt                                       float64
w-jarnold                                      float64
other,manager,specialist,director,executive     object
title                                           object
Length: 5120, dtype: object

In [7]:
# remove the (unnecessary) second to last column (it came from an ambiguous parse splits)
email_nodes.drop('other,manager,specialist,director,executive', axis=1, inplace=True)

# remove the first index column, use the node ids instead
email_nodes = email_nodes.set_index('id')
email_nodes

,emailaddress,numsent,numreceived,numexchanged,w-gerald,w-know,w-busi,w-mexicana,w-transact,w-want,...,w-bartlo,w-columbiagassubject,w-perron,w-coh,w-agl,w-kinney,w-veselack,w-mwhitt,w-jarnold,title
id,,,,,,,,,,,,,,,,,,,,,
98,scott.goodell@enron.com,98.0,607.0,705.0,1.0,1.0,1.0,NaN,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,specialist
283,c..koehler@enron.com,128.0,606.0,734.0,1.0,1.0,1.0,NaN,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,director
183,p..south@enron.com,8.0,351.0,359.0,1.0,1.0,1.0,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,director
204,lavorato@enron.com,388.0,3.0,391.0,NaN,1.0,1.0,NaN,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,executive
303,t..hodge@enron.com,95.0,570.0,665.0,1.0,1.0,1.0,NaN,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114,vkamins@enron.com,0.0,12.0,12.0,NaN,1.0,1.0,NaN,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,director
282,sean.crandall@enron.com,94.0,138.0,232.0,NaN,1.0,1.0,NaN,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,director
270,david.duran@enron.com,7.0,145.0,152.0,NaN,1.0,1.0,NaN,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,director
243,kevin.presto@enron.com,248.0,198.0,446.0,1.0,1.0,1.0,NaN,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,executive
131,dave.fuller@enron.com,165.0,129.0,294.0,1.0,1.0,1.0,NaN,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Process the CoRef edges

In [8]:
# need to rename one of the columns due to key collision
# use copy for safety
!cp ../c3/namata-kdd11-data/enron/enron-samples-lowunk/outputgraph/enron.UNDIRECTED.coref.tab .
!sed -i 's/email/alt_email/2g' enron.UNDIRECTED.coref.tab

coref_edges = load_table('enron.UNDIRECTED.coref.tab')
coref_edges = coref_edges.set_index('id')

coref_edges

Header:  UNDIRECTED	coref

This is not a NODE file, so don't load this row

      email alt_email    exists
id
2856    265       141  NOTEXIST
18491   310       295  NOTEXIST
516     272       183  NOTEXIST
5131    201        19  NOTEXIST
12417   138        78  NOTEXIST
...     ...       ...       ...
15003   135       208  NOTEXIST
4450    197        47  NOTEXIST
20302   248        25  NOTEXIST
12985   222       118  NOTEXIST
19684   248        54  NOTEXIST

[20781 rows x 3 columns]

In [9]:
# Binarize the "exists" column 
coref_edges['exists'] = coref_edges['exists'].map({'NOTEXIST': 0, 'EXIST': 1}) 
coref_edges

      email alt_email  exists
id
2856    265       141       0
18491   310       295       0
516     272       183       0
5131    201        19       0
12417   138        78       0
...     ...       ...     ...
15003   135       208       0
4450    197        47       0
20302   248        25       0
12985   222       118       0
19684   248        54       0

[20781 rows x 3 columns]

# Split data into observed and targets (AKA train and test)

In [10]:
email_node_observed = email_nodes[email_nodes['title'].notna()]
email_node_targets = email_nodes[email_nodes['title'].isna()]

In [11]:
print(len(email_node_observed))
print(len(email_node_targets))

171
40

# Prepare data for PSL predicates

## Predicate: EmailHasLabel(E, L)

In [12]:
# convert titles to integers, so PSL can ground faster
# title_map = {"other": 0, "manager": 1, "specialist": 2, "director": 3, "executive": 4}

# The copy is to suppress an in-place warning
# email_has_label = email_nodes[['title']].copy()
# email_has_label['title'] = email_has_label['title'].map(title_map)
# email_has_label = email_nodes['title'].map(title_map)

In [13]:
# email_has_label.hist()

In [14]:
# Outputs to file
# email_has_label.to_csv('EmailHasLabel.csv', sep ='\t')

In [15]:
# Outputs to file
# coref_edges.to_csv('CoRef_obs.csv', sep ='\t')